*.iml
.gradle
/local.properties
#/.idea/caches
#/.idea/libraries
#/.idea/modules.xml
#/.idea/workspace.xml
#/.idea/navEditor.xml
#/.idea/assetWizardSettings.xml
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release
/app/external_scripts/system_img_patcher/TMP
/app/external_scripts/system_img_patcher/__pycache__
/app/external_scripts/system_img_patcher/magisk_module/**/*.apk
/app/external_scripts/system_img_patcher/magisk_module/**/*.jar